ol{
    display: grid;
    list-style: none;
    grid-template-columns: repeat(7,1fr);
    padding-left: 0px;
    grid-gap: 5px;
}

div{
    text-align: center;
    width:300px;  
    border: 3px solid black;
    border-radius: 10%;
    margin: 10px;
}
body {
	background: linear-gradient(-45deg, #3a3635, #34436e, #076283);
	background-size: 300% 300%;
	animation: gradient 5s ease infinite;
    display:flex;
    flex-wrap: wrap;
    color: white;
    font:2em "Arial";
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media (min-width: 768px) {
    .service-item {
      border-top: 1px solid #dfdfdf;
      border-left: 1px solid #dfdfdf;
    }

.en-one{
    grid-column-start: 6;
}
.feb-one{
    grid-column-start: 2;
}
.mar-one{
    grid-column-start: 2;
}
.abr-one{
    grid-column-start: 5;
}
.may-one{
    grid-column-start: 7;
}
.jun-one{
    grid-column-start: 3;
}
.jul-one{
    grid-column-start: 5;
}
.ago-one{
    grid-column-start: 1;
}
.sep-one{
    grid-column-start: 4;
}
.oct-one{
    grid-column-start: 3;
}
.nov-one{
    grid-column-start: 2;
}
.dic-one{
    grid-column-start: 4;
}